# Byte-compiled files
__pycache__/
src/__pycache__
*.py[cod]
*.pyc

*$py.class

# Initialization flag
.init_complete

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pyvenv.cfg
site-packages/
share/
bin/
lib/
lib64/


# External libraries

lib/python3.12/site-packages



# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.temp
bin/

# data 
data/processedData/stageForRender/*
data/processedData/*
!data/processedData/stageForRender/
!data/processedData/
data/sourceData/*
!data/sourceData/


#jupyter 
spatialroot/etc/jupyter/


# Ignore WAV files
*.wav

# IDE-specific files
.idea/
.vscode/

#data

*.xml
!spatial_Engine/speaker_layouts/


#c ++ stuff 
spatial_Engine/spatialRender/build
# Ignore AlloLib build directory

build/

thirdparty/allolib-build/
thirdparty/allolib/build/
thirdparty/allolib/**/CMakeFiles/
thirdparty/allolib/**/CMakeCache.txt
thirdparty/allolib/**/Makefile