[submodule "LUSID"]
	path = LUSID
	url = https://github.com/Cult-DSP/LUSID

[submodule "thirdparty/libbw64"]
	path = thirdparty/libbw64
	url = https://github.com/ebu/libbw64


[submodule "thirdparty/libadm"]
	path = thirdparty/libadm
	url = https://github.com/ebu/libadm


# [submodule "thirdparty/ebu-adm-toolbox"]
# 	path = thirdparty/ebu-adm-toolbox
# 	url = https://github.com/ebu/ebu-adm-toolbox

[submodule "cult_transcoder"]
	path = cult_transcoder
	url = https://github.com/Cult-DSP/cult_transcoder
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/libsndfile"]
	path = thirdparty/libsndfile
	url = https://github.com/libsndfile/libsndfile
[submodule "internal/cult-allolib"]
	path = internal/cult-allolib
	url = https://github.com/Cult-DSP/cult-allolib
